*.iml
.gradle
/local.baseProperties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
/app/src/main/assets
/app/build
gen
"Dungeon Companion/build"
build
modules.xml
local.properties
